<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Ok or not?</string>
	<key>NMFClientId</key>
	<string>2lm2knho6r</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nmap</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5262324083555745~3524470515</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>backColor</string>
		<key>UIImageName</key>
		<string>SeoulGoImage</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
